.serviceHeader {
    margin: 0;
    padding: 5px 15px;
    width: 100%;
    display: block;
    font: $serviceHeaderFont;
    color: $mainMenuColor;
    text-align: center;
    text-transform: uppercase;
}