.teamWorkerName {
    margin: 0;
    padding: 40px 0 5px 0;
    width: 100%;
    display: block;
    font: $teamWorkerNameFont;
    color: $sectionTextColor;
    text-align: center;
    text-transform: uppercase;
}