@import url('https://db.onlinewebfonts.com/c/07689d4eaaa3d530d58826b5d7f84735?family=Montserrat');
// @import url('https://db.onlinewebfonts.com/c/a89cf050c859a23e4b6d9cf5989acf9e?family=Myriad+Pro');

/* Media - breakpoints */
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  oldDesktop: 992px,
  desktop: 1200px
);

/* Colors */
$logoColor: #b88b58;
$bgColor: #f7f7f7;
$mainMenuColor: #fff;
$navBarBgColor: #000;
$sectionSubHeaderColor: #aeaeae;
$sectionTextColor: #242424;
$serviceTextColor: #7e7e7e;
$projectMenuBGColor: #ededed;
$projectMenuBorderColor: #cfcfcf;
$socialIconsColor: #bebebe;
$componentsSuiteColor: #8a8a8a;
$priceTableButtonBGColor: #373737;
$suiteDescTeatureTextColor: #5b5b5b;
$subscribeInputTextColor: #9e9e9e;
$twitterColor: #00aced;
$LinkedInColor: #127cb4;
$facebookColor: #3b5998;
$pinterestColor: #cb2028;
$googlePlusColor: #d95232;

/* Font sizes */


/* Fonts */
$logoFont: bold 18px/22px 'Montserrat', sans-serif;
$mainMenuFont: bold 14px/18px 'Montserrat', sans-serif;
$homeHeaderFont: bold 72px/68px 'Montserrat', sans-serif;
$homeSubHeaderFont: bold 24px/18px 'Montserrat', sans-serif;
$homeButtonFont: bold 12px/18px 'Montserrat', sans-serif;
$sectionHeader: bold 30px 'Montserrat', sans-serif;
$sectionTextFont: 14px/25px 'Montserrat', sans-serif;
$serviceHeaderFont: 500 18px/18px 'Montserrat', sans-serif;
$serviceTextFont: 300 12px/21px 'Montserrat', sans-serif;
$projectsMenuFont: 14px/18px 'Montserrat', sans-serif;
$teamWorkerNameFont: 21px/21px 'Montserrat', sans-serif;
$teamWorkerProfFont: 14px/24px 'Montserrat', sans-serif;
$clientsJobFont: 300 18px/18px 'Montserrat', sans-serif;
$suitePriceFont: 14px/21px 'Montserrat', sans-serif;
$priceFont: bold 30px/21px 'Montserrat', sans-serif;
$byPeriodFont: 10px/25px 'Montserrat', sans-serif;
$componentsSuiteFont: 10px/13px 'Montserrat', sans-serif;
$suiteDescFeatureHeaderFont: bold 21px/21px 'Montserrat', sans-serif;
$factsNumbersFont: bold 48px/28px 'Montserrat', sans-serif;
$tellAboutUsFont: 700 14px/30px 'Montserrat', sans-serif;
$socialNumbersFont: bold 10px/25px 'Montserrat', sans-serif;
$addressDataFont: 300 12px/24px 'Montserrat', sans-serif;