.brandsSection {
    padding: 60px 0;
    border-top: 1px solid $projectMenuBorderColor;
    border-bottom: 1px solid $projectMenuBorderColor; 
    background-color: $mainMenuColor;

    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @include media ('>phone','<oldDesktop') {
        padding: 60px 20px;
    }
}