.happyClientsSection {
    padding: 60px 0 40px 0;

    &-container {

        &-sectionSubHeader {
            padding-bottom: 70px;
        }
    
        &-carousel {

            &-carouselIndicators {
                position: relative;
                bottom: 0;
            }
        }

    }

    
    
}